<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-controller="BrowserCtrl">
	<div class="input-group">
		<span class="input-group-addon">@</span>
		<input ng-model="filter.name" type="text" class="form-control" placeholder="Search">

	</div>
	<ul class='nav nav-stacked nav-centered' style="height: 600px; overflow:scroll;">
		<li ng-click='parentDir()'>
			<a href="">..</a>
		</li>
		<li ng-repeat="tab in tabs | filter: filter" ng-click="loadDir(tab.path, tab.isFile)" class='slideleft'>
			<a href=""> <i class='glyphicon' ng-class="{'glyphicon-folder-close' : tab.isDirectory, 'glyphicon-music' : tab.isFile}"></i> {{tab.name}}</a>
		</li>
	</ul>
</div>
